@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
* {
  margin: 0;
}
body {
  width: 100%;
  background-color: rgba(248, 248, 248, 0.767);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(216, 216, 216);
  height: 5rem;
  padding: 0 1rem;
}
header h1 {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  color: rgb(50, 112, 0);
}

header button {
  height: 2.5rem;
  padding: 0 1.5rem;
  border: none;
  background-color: rgb(50, 112, 0);
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;
  box-shadow: 10px 5px 5px  rgba(50, 112, 0,0.4);

}
header button:hover {
  background-color: rgb(77, 129, 34);
}
.card {
  margin: 3rem 0 3rem 0;
  /* display:flex; */
  flex-direction: column;
  /* align-items:center; */
  display: grid;
  grid-template-columns: 1fr;
}
.profile {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
  background-color: white;
  padding: 3rem 2rem;
  width: 13rem;
  margin: 2rem auto;
  color: rgb(50, 112, 0);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.288);
}
.card-img-top {
  width: 6rem;
  border-radius: 50%;
}
@media only screen and (min-width: 900px) {
  .card {
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: 0 auto;
  }
  .card .profile {
    margin: 1rem;
  }
}
